@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.todo-app-container {
  min-height: 100vh;
  padding: 10px;
  background: #895cf3;
}

.todo-app {
  margin: auto;
  margin-top: 30px;
  padding: 2rem;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  max-width: 32rem;
  color: #374151;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  color: #895cf3;
}

.todo-input {
  margin-top: 10px;
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #bbc0c5;
  border-radius: 5px;
  color: #170444;
  outline-color: #895cf3;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}


.todo-list {
  margin-top: 32px;
}

.todo-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.todo-item {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 18px;
  margin-right: 24px;
}

.todo-item-label {
  margin-left: 16px;
}

.todo-item-input {
  margin-left: 8px;
  width: 100%;
  font-size: 18px;
  padding: 6px 8px;
  width: 100%;
  border: none;
  /* border: 1px solid #bbc0c5; */
  border-radius: 5px;
  color: #170444;
  background-color: rgba(137, 92, 243, 0.3);
  outline: 2px solid #895cf3;
}

.line-through {
  text-decoration: line-through;
}

.x-button {
  background: white;
  color: #6B7280;
  border: none;
  cursor: pointer;
}

.x-button:hover {
  color: #170444;
}

.x-button-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.button {
  color: #6B7280;
  font-size: 14px;
  background: white;
  border: 1px solid lightgray;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  border: 1px solid lightgray;
}

.filter-button {
  border: 1px solid white;
}

.filter-button-active {
  border: 1px solid lightgray;
}

.check-all-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6B7280;
  margin-top: 22px;
  padding-top: 16px;
  border-top: 1px solid lightgray;
}

.other-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6B7280;
  margin-top: 22px;
  padding-top: 16px;
  border-top: 1px solid lightgray;
}
